absl-py==2.1.0
aiobotocore==2.12.1
aiodns==3.1.1
aiofiles==23.2.1
aiohttp==3.9.4
aioitertools==0.11.0
aiosignal==1.3.1
ale-py==0.8.1
annotated-types==0.7.0
anyio==4.4.0
asteval==0.9.32
async-timeout==4.0.3
attrs==23.2.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
azure-core==1.28.0
azure-identity==1.13.0
azure-storage-blob==12.17.0
boto3==1.26.63
botocore==1.34.68
cchardet==2.1.7
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.0
construct==2.10.68
contourpy==1.3.0
coverage==7.4.4
cryptography==42.0.7
cycler==0.11.0
docker-pycreds==0.4.0
exceptiongroup==1.2.2
Farama-Notifications==0.0.4
fastapi==0.110.0
filelock==3.13.1
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.67.1
gunicorn==22.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
httptools==0.6.1
idna==3.7
idna-ssl==1.1.0
imageio==2.22.2
importlib_resources==6.4.5
isodate==0.6.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.4
llvmlite==0.42.0
lxml==5.2.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mpmath==1.3.0
msal==1.23.0
msal-extensions==1.0.0
multidict==6.0.5
nest-asyncio==1.5.6
networkx==3.2.1
numba==0.59.1
numpy==1.26.0
numpy-quaternion==2023.0.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-lula-no-cuda==0.10.1
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
nvidia_srl_base==0.10.0
nvidia_srl_math==0.9.0
nvidia_srl_usd==0.14.0
nvidia_srl_usd_to_urdf==0.6.0
nvsmi==0.4.2
oauthlib==3.2.2
opencv-python==4.9.0.80
osqp==0.6.5
packaging==23.0
pandas==2.2.3
-e git+https://github.com/PegasusSimulator/PegasusSimulator.git@31367ff57d2c44eb39d8fc7fced5044a24a930eb#egg=pegasus_simulator&subdirectory=extensions/pegasus.simulator
pillow==10.2.0
Pint==0.20.1
platformdirs==4.3.6
plotly==5.3.1
portalocker==2.7.0
protobuf==5.28.3
psutil==5.9.8
py-cpuinfo==9.0.0
pycares==4.3.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pygame==2.6.1
Pygments==2.18.0
pymavlink==2.4.42
pyparsing==3.0.9
pyperclip==1.8.0
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
qdldl==0.1.7.post1
qrcode==7.4.2
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.9.4
s3transfer==0.6.1
scikit-learn==1.5.2
scipy==1.10.1
seaborn==0.13.2
selenium==4.14.0
sentry-sdk==2.17.0
setproctitle==1.3.3
setuptools-scm==8.0.4
shapely==2.0.6
Shimmy==1.3.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
stable_baselines3==2.3.2
starlette==0.36.3
sympy==1.12
tensorboard==2.18.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.1
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.19.0+cu118
tornado==6.2
tqdm==4.66.6
triton==3.0.0
typing_extensions==4.11.0
tzdata==2024.2
ultralytics==8.3.27
ultralytics-thop==2.0.10
urllib3==2.2.2
uvicorn==0.29.0
wandb==0.18.5
watchdog==4.0.0
webbot==0.34
websockets==12.0
Werkzeug==3.1.1
wrapt==1.16.0
yarl==1.9.4

jsonpointer==2.1
setuptools==75.1.0
wheel==0.44.0